@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: linear-gradient(to bottom, rgba(165, 162, 162, 0.3) 15%, rgba(121, 121, 121, 0.7) 85%, #030303 100%);
    --second-bg-color: #cac6c6;
    --two-color: #b5a168;
    --contact-color: #fff1f1;
    --text-color: #2a2a2a;
    --second-color: #202020;
    --second-main-color: rgb(128, 131, 133);
    --main-color: linear-gradient(to bottom, rgba(214, 205, 205, 0.3) 15%, rgba(121, 121, 121, 0.7)) 85%, #a3a3a3;
    --btn-color: linear-gradient(to bottom, rgba(233, 232, 191, 0.3) 15%, #b5a168 85%, #a09064);
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

/*-------------General Css------------ */

body {
    display: flex;

    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
    background-image: url(../img/master.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 5000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 4750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 5000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 4750px;
    }

}


span {
    color: var(--two-color);
}

section {
    padding: 35px;
}


.home-text h1 {

    font-weight: 800;
    line-height: 1.1;
    margin: 0 0 35px;
    padding-bottom: 40px;
    font-size: var(--big-font);
    color: rgba(225, 225, 225, .01);
    background-image: url(../img/master.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;


}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}


.home-text h3 {
    color: var(--text-color);
    margin: 0 0 15px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}




/*---------------Weather------------- */

.weat_row {
    display: flex;
    flex-direction: row;
    margin-top: 65px;

}

.form_col {
    display: flex;
    flex-direction: column;
}

.search-form {
    margin: 20px 25px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #332b1d;

    font-size: var(--p-font);
    text-align: center;
}

.weat_btn {
    display: inline-block;
    margin: 0px 25px;
    border-radius: 5px;
    padding: 5px 30px;
    text-align: center;
    border: none;
    font-size: var(--p-font);
    background-color: var(--two-color);
}

.weat_btn:hover {
    background-color: var(--second-bg-color);
}

.measurements {
    position: relative;
    left: 28px;
    top: 10px;
    bottom: 10px;

}

.measurements a {
    font-size: var(--p-font);
    color: var(--text-color);

}

.measurements h3 {
    font-size: 1.3rem;
    color: var(--text-color);

}

.info_weat_new {
    max-width: 300px;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-shadow: 3px 3px 15px rgba(113, 115, 119, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 25px 10px;
}

.info_weat_new li {
    font-size: var(--text-color);
}

.info_weat_new span {
    font-weight: 600;
    margin-left: 1rem;
    color: var(--text-color);


}

.info_weat_new h3 {
    font-size: var(--h2-font);

}


.side-info {
    position: relative;
    left: 72px;
}




.container_week_weat {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.forecast-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.forecast-item {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

.forecast-item img {
    width: 50px;
    height: 50px;
}

.forecast-item div {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
}



.btn {
    margin: 0px 10px;
    border: none;
    outline: none;
    font-size: 0.80rem;
    background: none;
    font-weight: 600;
    cursor: pointer;

}

.deleteBtn {
    color: var(--two-color);
}

.editBtn {
    color: var(--text-color);
}


/*----------------End--------------- */

.end {
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
    gap: 2rem;
    background: var(--btn-color);
    border-radius: 10px;
}

.last-text p {
    color: var(--second-color);
    font-size: 14px;

}

.top img {
    height: 45px;
    width: 45px;
    padding: 10px;
    border-radius: 15px;

    background: var(--btn-color);

}