@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: linear-gradient(to bottom, rgba(165, 162, 162, 0.3) 15%, rgba(121, 121, 121, 0.7) 85%, #030303 100%);
    --second-bg-color: #cac6c6;
    --two-color: #b5a168;
    --contact-color: #fff1f1;
    --text-color: #2a2a2a;
    --second-color: #202020;
    --second-main-color: rgb(128, 131, 133);
    --main-color: linear-gradient(to bottom, rgba(214, 205, 205, 0.3) 15%, rgba(121, 121, 121, 0.7)) 85%, #a3a3a3;
    --btn-color: linear-gradient(to bottom, rgba(233, 232, 191, 0.3) 15%, #b5a168 85%, #a09064);
    --big-font: 5rem;
    --p-font: 1.1rem;
}

/*-------------General Css------------ */

body {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--text-color);
    background-image: url(../img/master.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 5000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 4750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 5000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 4750px;
    }

}


span {
    color: var(--two-color);
    text-shadow: 1px 2px 35px var(--second-color);


}

section {
    padding: 35px;
}


.home-text h1 {

    font-weight: 800;
    line-height: 1.1;
    margin: 25px 0 35px;
    padding-bottom: 40px;
    font-size: var(--big-font);
    color: rgba(225, 225, 225, .01);
    background-image: url(../img/master.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;


}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}


.home-text h3 {
    color: var(--text-color);
    margin: 0 0 15px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}




/*-------------Todo List------------ */

.container_todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.input-container_todo {
    max-width: 500px;
    text-align: center;
    padding: 10px;
    background-image: url(../img/master.jpg);
    box-shadow: 3px 3px 15px rgba(113, 115, 119, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.input-container_todo input {
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}

.input-container_todo input[type="button"] {
    background-color: var(--two-color);
    color: var(--text-color);
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 14px;
    text-align: center;
}

.input-container_todo input[type="button"]:hover {
    background-color: var(--second-bg-color);
}

.input-container_todo h3 {
    color: var(--text-color);
    margin: 10px 0 15px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.1;

}

.todoList_new {
    width: 70%;
    max-width: 450px;
    display: flex;
    flex-direction: column;

    margin-top: 1rem;

}

.todoList_new li {
    list-style-type: none;
    cursor: pointer;
    margin-block-end: 12px;
    border-radius: 8px;
    border: 0.125px solid #a19f9f;
    padding: 6px 12px;
    background-color: #ffffff;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: background-color 0.5s;
}

.todoList_new li:hover {
    background-color: #cbcaca;
}

.todoList_new li p {
    flex-grow: 1;
    padding: 2px;
}

.btn {
    margin: 0px 10px;
    border: none;
    outline: none;
    font-size: 0.80rem;
    background: none;
    font-weight: 600;
    cursor: pointer;

}

.deleteBtn {
    color: var(--two-color);
}

.editBtn {
    color: var(--text-color);
}